.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100% - 110px);
    justify-content: center;
    padding: 25px;
    width: calc(100% - 50px);
}
