.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}
