.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.content.with-nav {
    height: calc(100% - 60px);
    padding: 25px;
}

.content.no-nav {
    height: 100%;
}
