.svg-container:not(.free-drawing):not(.drawing-eraser)
    .sketch-image.selectable.container:not(.selected) {
    cursor: pointer;
}

.sketch-image.container.selected {
    outline: 3px solid var(--palette-primary);
}

.sketch-image.container.selected .sketch-image {
    cursor: grab;
}

.sketch-image.container.selected.moving .sketch-image {
    cursor: grabbing;
}

.sketch-image-resizer {
    fill: var(--palette-primary);
    opacity: 0.75;
}

.sketch-image.container:not(.resizing, :hover) .sketch-image-resizer {
    display: none;
}

.sketch-image-resizer.se {
    transform: translate(calc(100% - 20px), calc(100% - 20px));
}

.sketch-image-resizer.ne {
    transform: translateX(calc(100% - 20px));
}

.sketch-image-resizer.sw {
    transform: translateY(calc(100% - 20px));
}

.sketch-image.container.selected .sketch-image-resizer.nw,
.sketch-image.container.selected .sketch-image-resizer.se {
    cursor: nwse-resize;
}

.sketch-image.container.selected .sketch-image-resizer.ne,
.sketch-image.container.selected .sketch-image-resizer.sw {
    cursor: nesw-resize;
}
