{
    "$schema": "https://json.schemastore.org/eslintrc.json",
    "root": true,
    "env": {
        "browser": true,
        "es2024": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "airbnb-typescript",
        "plugin:react/jsx-runtime",
        "prettier"
    ],
    "plugins": [
        "risxss"
    ],
    "rules": {
        "@typescript-eslint/consistent-type-imports": ["error", {
            "prefer": "type-imports",
            "fixStyle": "inline-type-imports"
        }],
        "@typescript-eslint/lines-between-class-members": "off",
        "import/extensions": ["error", "ignorePackages"],
        "import/no-commonjs": "error",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": ["./src/types/reset.d.ts"]
            }
        ],
        "import/prefer-default-export": "off",
        "lines-between-class-members": "off",
        "radix": "off",
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function"
            }
        ],
        "react/jsx-props-no-spreading": "off",
        "react/require-default-props": "off",
        "risxss/catch-potential-xss-react": "error",
        "jsx-a11y/label-has-associated-control": [
            2,
            {
                "labelComponents": ["CustomInputLabel"],
                "labelAttributes": ["label"],
                "controlComponents": ["CustomInput"],
                "depth": 3
            }
        ]
    }
}
