{
    "plugins": ["stylelint-order"],
    "extends": ["stylelint-config-standard"],
    "rules": {
        "order/properties-alphabetical-order": true
    },
    "ignoreFiles": ["node_modules/**/*", "build/**/*"]
}
