.character-portrait-container {
    height: 100%;
    padding: 10px;
    width: 100%;
}

.character-portrait-inner {
    align-items: center;
    border: 1px solid var(--palette-background-tertiary);
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.character-portrait-image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}
