.sketch-widget-content {
    width: 400px;
}

.sketch-widget-assets {
    height: 300px;
    width: 100%;
}

.sketch-widget-content > div:not(:first-child) {
    margin: 10px 0 0;
}

.sketch-widget-content .sketch-action-button {
    margin: 0 15px;
}
