.console-container {
    bottom: 20px;
    height: 150px;
    position: absolute;
    right: 20px;
    width: 350px;
    z-index: 0;
}

.console-paper,
.console-inner {
    height: 100%;
    width: 100%;
}

.console-paper {
    padding: 10px;
}

.console-log {
    font-size: 0.8rem;
    margin: 5px 0;
}
