.sketch-container {
    user-select: none;
}

.svg-container {
    background: var(--palette-background-secondary);
    max-height: 100%;
    max-width: 100%;
}

.svg-container.free-drawing {
    cursor: crosshair;
}
