.sketch-container {
    height: 100%;
    user-select: none;
    width: 100%;
}

.svg-container {
    background: var(--palette-darkgray);
    max-height: 100%;
    max-width: 100%;
}

.svg-container.free-drawing {
    cursor: crosshair;
}
