.widget-container {
    left: 25px;
    min-height: 100px;
    min-width: 200px;
    position: absolute;
    top: 25px;
}

.widget-paper,
.widget-inner {
    min-height: 100px;
    min-width: 200px;
}

.widget-bar {
    background: var(--palette-gray);
    height: 30px;
}

.widget-content {
    height: calc(100% - 30px);
    min-height: 70px;
    padding: 10px;
}
