.app-header {
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-dark-4);
}

.app-header-logo {
    height: 2.5rem;
    width: 2.5rem;
}

.nav-item:hover,
.nav-item.selected {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
