.svg-icon-button {
    fill: var(--palette-font);
    fill-opacity: 0%;
    height: 50px;
    width: 50px;
}

.svg-icon-button:hover {
    fill-opacity: 25%;
}

.sketch-image-delete-button-circle-icon {
    fill: var(--palette-font);
    fill-opacity: 100%;
}
