div .death-spiral-radio {
    padding: 2px;
}

div .death-spiral-radio svg {
    font-size: 20px;
}

div .death-spiral-radio.large svg {
    font-size: 32px;
}

.death-spiral-radio-container,
.death-spiral-radio-label {
    text-align: center;
}

.death-spiral-radio-label {
    font-size: 20px;
    padding: 5px;
}

.death-spiral:not(:hover) .death-spiral-clear {
    display: none;
}
