.sketch-widget-content {
    width: 450px;
}

.sketch-widget-explorer {
    max-height: 200px;
}

.sketch-widget-assets {
    max-height: 300px;
}

.sketch-widget-content > div:not(:first-child) {
    margin-top: 10px;
}
