/* global variables */

:root {
    --palette-background: #111416;
    --palette-darkgray: rgba(255 255 255 / 4%);
    --palette-gray: rgba(255 255 255 / 15%);
    --palette-lightgrey: rgba(255 255 255 / 50%);
    --palette-text: #fff;
    --palette-lightblue: #90caf9;
}

/* structure */

html,
body {
    box-sizing: border-box;
    color: var(--palette-text);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

html * {
    box-sizing: inherit;
}

#root {
    background: var(--palette-background);
    height: 100%;
    width: 100%;
}
