/* global variables */

:root .page.dark {
    --palette-background: #111416;
    --palette-background-secondary: #1a1d1f;
    --palette-background-tertiary: #454545;
    --palette-background-quaternary: #888a8b;
    --palette-font: #fff;
    --palette-primary: #90caf9;
}

:root .page.light {
    --palette-background: #f8f9fa;
    --palette-background-secondary: #e9ecef;
    --palette-background-tertiary: #dee2e6;
    --palette-background-quaternary: #ced4da;
    --palette-font: #212529;
    --palette-primary: #00a8e8;
}

:root {
    --palette-black: #111416;
    --palette-white: #fff;
    --palette-yellow: #ffba08;
    --palette-orange: #f77f00;
    --palette-brown: #774936;
    --palette-red: #d00000;
    --palette-purple: #7b2cbf;
    --palette-turquoise: #2ec4b6;
    --palette-blue: #00a6fb;
    --palette-darkblue: #003554;
    --palette-green: #2dc653;
    --palette-darkgreen: #155d27;
    --palette-gray: #888a8b;
    --palette-darkgray: #454545;
}

/* structure */

html,
body {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

html * {
    box-sizing: inherit;
}

#root {
    height: 100%;
    width: 100%;
}

/* stylelint-disable selector-class-pattern */

/* material ui rules & overrides */
#root .MuiTextField-root input[readonly] + fieldset,
#root .MuiTextField-root:focus input[readonly] + fieldset,
#root .MuiTextField-root:hover input[readonly] + fieldset,
#root .MuiTextField-root textarea[readonly] + textarea[readonly] + fieldset,
#root
.MuiTextField-root:focus
textarea[readonly]
+ textarea[readonly]
+ fieldset,
#root
.MuiTextField-root:hover
textarea[readonly]
+ textarea[readonly]
+ fieldset {
    border: 1px solid rgb(255 255 255 / 5%);
}

/* stylelint-enable selector-class-pattern */
