/* general */

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

.scroll {
    overflow-y: auto;
}

.scroll-always {
    overflow-y: scroll;
}

.clickable {
    cursor: pointer;
}

/* box */

.box {
    padding: 25px;
}

/* flex */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.center-x {
    align-items: center;
}

.flex.center-y {
    justify-content: center;
}

.flex.start {
    align-items: flex-start;
    justify-content: flex-start;
}

.flex.start-x {
    align-items: flex-start;
}

.flex.start-y {
    justify-content: flex-start;
}

.flex.end {
    align-items: flex-end;
    justify-content: flex-end;
}

.flex.end-x {
    align-items: flex-end;
}

.flex.end-y {
    justify-content: flex-end;
}

.flex .grow {
    flex-grow: 1;
}

.flex .align-start {
    align-self: flex-start;
}

.flex .align-end {
    align-self: flex-end;
}

/* form */

.form.small {
    width: 300px;
}

.form.flex.column .form-input {
    margin: 10px 0;
    width: 100%;
}

.form.flex.column .form-button {
    margin: 10px 0 0;
}

/* lists */

.page-list {
    max-height: 100%;
    width: 750px;
}

.page-list .create-button {
    align-self: flex-end;
    margin: 20px 0 0;
}
