/* box */

.box {
    padding: 25px;
}

/* flex */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.start {
    align-items: flex-start;
    justify-content: center;
}

.flex.end {
    align-items: flex-end;
    justify-content: center;
}

/* form */

.form.flex.column .form-input {
    margin: 10px 0;
    width: 100%;
}

.form.flex.column .form-button {
    margin: 10px 0 0;
}

/* lists */

.page-list {
    width: 750px;
}

.page-list .create-button {
    align-self: flex-end;
    margin: 20px 0 0;
}
